nav {
    width: 100vw;
    height: 40px;

    form {

        input,button{
            height: 30px;
        }

        input {
            border: none;
            background-color: #e2e3e5;
            border-radius: 50px 0 0 50px;
            padding: 0;
        }

        button {
            padding: 0px 10px;
            border: none;
            border-radius: 0 50px 50px 0;
        }
    }
}